/* body{
    background-color: black;
} */
.img_profile{
        border-radius: 50%;
        border: 5px solid #AEB1B3
}
.about{
        min-height: 300px;
}
#col_about{
        border: 1px solid black
}
#about_text{
    color: black;
}
#about_title{
    color: black;
}
#header{
    position: relative;
    transition: 2s;
    background-image: url(../img/elvis-bekmanis-g9qwoPiS0nY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    filter: brightness(80%);
    margin-bottom: 80px;
}
.header_image{
    position: absolute;
    top: 35%;
    left: 50%;
    transition: 1s;
    transform: translate(-50%, -50%);
    filter: brightness(100%);
    
}
#header_name{
    left: 0;
    position:absolute;
    text-align:center;
    top: 64%;
    width: 100%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.speciality{
    background-color:#CED0D2 ;
}
#speciality_title{
    color: black;
}

#card_image{
    height: 200px;
    width: 180px;
    
}
#speciality_card{
    /* background-color: white; */
    /* border: 1px solid black; */
}